<a href='/dashboard/edit/{{id}}'>
    <article class="list-item dash-item">
        
        <div class="list-item-header flex-row align-center justify-space-between">
            <p class="list-item-title">{{title}}</p>
            <p class="list-item-info">
            {{format_date created_at}}</p>
        </div>
    </article>
</a>