<section class="list-item">
    <div class="list-item-header">
        <p class="list-item-title">Create New Post</p>
    </div>

    <form class="new-post-form">
        <div class="content">
            <label for="post-title">Title</label>
            <br />
            <input type="text" id="post-title" name="post-title" class="form-input" />
        </div>
        <div class="content">
            <label for="post-content">Content</label>
            <br />
            <input id="post-content" name="post-content" class="form-input" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

<script src='/javascript/add-post.js'></script>