{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <br />
    {{#each posts as |post|}}
    {{> dashboard-post post}}
    {{/each}}
</section>
{{else}}
<section>
    <h2>You don't have any posts yet!</h2>
</section>
{{/if}}
<button id="new-post-btn" class="btn"><i class="fas fa-plus"></i> New Post</button>

<script src="/javascript/dashboard.js"></script>