<section class="list-item">
    <div class="list-item-header">
        <p class="list-item-title">Login</p>
    </div>
    <form class="login-form">
        <div class="content">
            <label for="username-login">Username</label>
            <br />
            <input type="text" id="username-login" />
        </div>
        <div class="content">
            <label for="password-login">Password</label>
            <br />
            <input type="text" id="password-login" />
        </div>
        <div>
            <button class="btn" type="submit">Login!</button>
        </div>
    </form>
    <a class="content" href="/signup">Sign up instead!</a>
</section>
<script src='/javascript/login.js'></script>